<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
<h1>Order Details</h1>
<ul>
    <li>Order ID: {{.OrderUID}}</li>
    <li>Track Number: {{.TrackNumber}}</li>
    <li>Entry: {{.Entry}}</li>
    <li>Delivery:</li>
    <ul>
        <li>Name: {{.Delivery.Name}}</li>
        <li>Phone: {{.Delivery.Phone}}</li>
        <li>Zip: {{.Delivery.Zip}}</li>
        <li>City: {{.Delivery.City}}</li>
        <li>Address: {{.Delivery.Address}}</li>
        <li>Region: {{.Delivery.Region}}</li>
        <li>Email: {{.Delivery.Email}}</li>
    </ul>
    <li>Payment:</li>
    <ul>
        <li>Transaction: {{.Payment.Transaction}}</li>
        <li>Request ID: {{.Payment.RequestID}}</li>
        <li>Currency: {{.Payment.Currency}}</li>
        <li>Provider: {{.Payment.Provider}}</li>
        <li>Amount: {{.Payment.Amount}}</li>
        <li>Payment Date: {{.Payment.PaymentDT}}</li>
        <li>Bank: {{.Payment.Bank}}</li>
        <li>Delivery Cost: {{.Payment.DeliveryCost}}</li>
        <li>Goods Total: {{.Payment.GoodsTotal}}</li>
        <li>Custom Fee: {{.Payment.CustomFee}}</li>
    </ul>
    <li>Items:</li>
    <ul>
        {{range .Items}}
        <li>
            {{.Name}}
            <ul>
                <li>ChrtID: {{.ChrtID}}</li>
                <li>TrackNumber : {{.TrackNumber}}</li>
                <li>Price : {{.Price }}</li>
                <li>RID: {{.RID}}</li>
                <li>Name: {{.Name}}</li>
                <li>Sale: {{.Sale}}</li>
                <li>Size: {{.Size}}</li>
                <li>TotalPrice: {{.TotalPrice}}</li>
                <li>NmID: {{.NmID}}</li>
                <li>Brand: {{.Brand}}</li>
                <li>Status: {{.Status}}</li>
            </ul>
        </li>
        {{end}}
    </ul>
    <li>Locale: {{.Locale}}</li>
    <li>InternalSignature: {{.InternalSignature}}</li>
    <li>CustomerID: {{.CustomerID}}</li>
    <li>DeliveryService: {{.DeliveryService}}</li>
    <li>ShardKey: {{.ShardKey}}</li>
    <li>SmID: {{.SmID}}</li>
    <li>DateCreated: {{.DateCreated}}</li>
    <li>OffShard: {{.OffShard}}</li>
</ul>
</body>
</html>